@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.DrawingCarouselContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.PlayerName {
	display: flex;
	font-size: calc(2vw);
	color: #d7c9ff;

	text-shadow: 10px 10px 10px #000000;
	font-family: "Public Sans";
	overflow-wrap: break-word;
}

.Buttons {
	display: flex;
	flex-direction: row;
	gap: 1vw;
}